
<template name="personsListPage">
  <div id="personsListPage" class="page" style="{{getPageHeight}}">
    {{> recordHeader url="persons" spreadsheet=false  imageGrid=false}}
    <div class="horizontally-padded page" style="{{getOpacityWithCorner}}">
      <input id="personSearchInput" type="text" class="glass fullwidth form-control" placeholder="search..." value="{{getRecordSearchFilter}}" />
      <ul id="personsUnorderedList">
        {{#if hasNoContent}}
          <li id="noResultsMessage" class="addRecordIcon">
            <article class="noResultsMessage">
              <span>There are no results!  Click to add one.</span>
            </article>
            <div class="fadeAway"></div>
          </li>

        {{else}}
          {{#each personsList}}
            <li class="personItem">
              <article>
                <h2 class="fullNameText">{{profile.fullName}}</h2>
                <span class="pull-right barcode gray idText">{{_id}}</span><br>
                <span class="descriptionText">{{profile.description}}</span>
              </article>
              <div class="fadeAway"></div>
            </li>
          {{/each}}
        {{/if}}
      </ul>
    </div>
    {{> recordFooter }}
  </div>
</template>
